## **Assignment-4**
**Q-1:WAP to print the table of 7, 9.**

In [4]:
#Table of 7
for i in range(1,11):
    print("7 *",i,"=",7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [5]:
#Table of 9
for i in range(1,11):
    print("9 *",i,"=",9*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**Q-2: WAP to print the table of n and n is given by user.**

In [6]:

n = int(input("Enter the number: "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**Q-3: WAP to add all the numbers from 1 to n and n is given by user.**

In [7]:
n = int(input("Enter the number: "))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print("Sum of numbers from 1 to",n,"is = ",sum)

Enter the number: 10
Sum of numbers from 1 to 10 is =  55