# **Assignment-2**
**Q 1.** Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

1) WAP to add 200 and 300 to L.

2) WAP to remove 10 and 30 from L.

3) WAP to sort L in ascending order.

4) WAP to sort L in descending order.

In [22]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print("1) add 200 and 300 to L: ")
L.extend([200,300])
print(L)

print("2) WAP to remove 10 and 30 from L1: ")
L.remove(10)
L.remove(30)
print(L)

print("3) WAP to sort L3 in ascending order: ")
print(sorted(L))

print("4) WAP to sort L4 in descending order: ")
print(sorted(L, reverse = True))

1) add 200 and 300 to L:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
2) WAP to remove 10 and 30 from L1:
[20, 40, 50, 60, 70, 80, 200, 300]
3) WAP to sort L3 in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]
4) WAP to sort L4 in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

**Q 2.** Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:

1) Identify the highest score and its index in the tuple.

2) Find the lowest score and count how many times it appears.

3) Reverse the tuple and return it as a list.

4) Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [35]:
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("2) Find the lowest score and count how many times it appears: ")
minS = __builtins__.min(score)
print(f"Highest Score: {minS} at index {score.count(minS)}")

print("3) Reverse the tuple and return it as a list: ")
print(list(reversed(score)))

print("4) Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present: ")
check_s = int(input("\nEnter a score to check: "))
if check_s in score:
  print("Score found at index: ", score.index(check_s))
else:
  print("Score not found")

2) Find the lowest score and count how many times it appears:
Highest Score: 45 at index 2
3) Reverse the tuple and return it as a list:
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
4) Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present:

Enter a score to check: 76
Score found at index:  2

**Q 3.** WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

1) All odd numbers

2) All even numbers

3) All prime numbers

In [21]:
import random

def is_prime(n):
    return n > 1 and all(n % i for i in range(2, int(n**0.5) + 1))

nums = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in nums if n % 2]
evens = [n for n in nums if n % 2 == 0]
primes = [n for n in nums if is_prime(n)]

print(f"Random Numbers: {nums}\nTotal Odd Numbers: {len(odds)}\nOdd Numbers: {odds}\nTotal Even Numbers: {len(evens)}\nEven Numbers: {evens}\nTotal Prime Numbers: {len(primes)}\nPrime Numbers: {primes}")

[514, 755, 407, 754, 877, 465, 366, 612, 281, 700, 356, 639, 187, 178, 336, 444, 885, 543, 630, 478, 150, 417, 889, 682, 897, 505, 461, 490, 600, 762, 573, 153, 306, 740, 125, 643, 163, 394, 806, 564, 591, 404, 464, 323, 834, 383, 431, 520, 348, 123, 102, 377, 653, 527, 432, 190, 370, 450, 869, 702, 321, 253, 840, 714, 211, 488, 424, 139, 711, 611, 878, 697, 855, 453, 385, 302, 249, 880, 193, 315, 706, 415, 710, 307, 334, 454, 181, 555, 544, 719, 605, 613, 586, 358, 515, 794, 455, 320, 408, 400]

Odd numbers:
755, 407, 877, 465, 281, 639, 187, 885, 543, 417, 889, 897, 505, 461, 573, 153, 125, 643, 163, 591, 323, 383, 431, 123, 377, 653, 527, 869, 321, 253, 211, 139, 711, 611, 697, 855, 453, 385, 249, 193, 315, 415, 307, 181, 555, 719, 605, 613, 515, 455,
Even numbers:
514, 754, 366, 612, 700, 356, 178, 336, 444, 630, 478, 150, 682, 490, 600, 762, 306, 740, 394, 806, 564, 404, 464, 834, 520, 348, 102, 432, 190, 370, 450, 702, 840, 714, 488, 424, 878, 302, 880, 706, 710, 334, 454, 544, 586, 358, 794, 320, 408, 400,
Prime numbers:
877, 281, 461, 643, 163, 383, 431, 653, 211, 139, 193, 307, 181, 719, 613,